*.csv
*.tsv
*.dta
*.txt
*.dat
*.[rR]data
*.[rR]data
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
README.Rmd
*.bgen
*.gen
output
error*
j*.sh.e*
j*.sh.o*
*.sh.e*
*.sh.o*
*.enc_ukb
*.enc
*.cwa
manuscript
data
analysis
environment
run_scripts
output
config_testost_osarc
mrbase.oauth
